  .toggleBtn {
    top: 1vh;
    right: 1vw;
    background-color: #cba;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 14px;
    border: #000 1px solid;
    padding: 1rem;
  }

  .toggleBtn:hover {
    background-color: #abc;
  }

  .row {
    width: 100%;
    background-color:#aaa;
    transition: all 0s;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .lcol {
    float: left;
    width: 50%;
    position: relative;
  }

  .rcol {
    background-color:#bbb;
    float: left;
    width: 50%;
    position: relative;
    transition: transform 2s ease-in-out;
  }

  